@media screen and (max-width: 767px) {

    .header {
        width: 300px;
    }

    .side {
        width: 100px;
    }

    .content {
        float: left;
        width: 300px;
    }

    .contet-top{
        width: 200px;
    }

    .content-top-left {
        float: left;
        width: 125px;
    }
    
    .content-top-left-top {
        width: 125px;
    }
    .content-top-left-bottom {
        width: 125px;
    }
    .content-top-right {
        width: 75px;
    }
    .content-bottom {
        width: 200px;
    }

    .footer {
        width: 300px;
    }

}

@media screen and (max-width: 479px) {
    .header {
        width: 150px;
        height: 100px;
    }
    .side {
        float: none;
        width: 150px;
        height: 100px;
    }
    
    .content {
        float: none;
    }
    

    .content-top-left {
        float: none;
        width: 150px;
    }
    
    .content-top-left-top {
        float: none;
        width: 150px;
        height: 50px;
    }

    .content-top-left-bottom {
        float: none;
        width: 150px;
        height: 100px;
    }

    .content-top-right {
        float: none;
        width: 150px;
        height: 100px;
    }

    .content-bottom {
        float: none;
        width: 150px;
        height: 100px;
    }

    .footer {
        float: none;
        width: 150px;
        height: 100px;
    }

}
