@media screen and (max-width: 767px) {

    .header {
        width: 300px;
    }

    .side {
        width: 100px;
    }
    .content-top-left-top {
        width: 125px;
    }
    .content-top-left-bottom {
        width: 125px;
    }
    .content-top-right {
        width: 75px;
    }
    .content-bottom {
        width: 200px;
    }

    .footer {
        width: 300px;
    }

}

@media screen and (max-width: 479px) {

    .header {
        width: 150px;
    }

    .content {
        float: none;
        width: 150px;
    }
    .footer {
        width: 150px;
    }

}
