.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.wrapper {    
    width: 400px;
    margin: 0 auto;
}

.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.side {
	float: left;
	width: 150px;
	height: 250px;
	background: #80bfa8;	
}

.content {
	float: left;
	width: 250px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
}

.content-top-left {
	float: left;
	width: 150px;
}

.content-top-left-top {
	height: 50px;
	background: #dbd400;
}

.content-top-left-bottom {
	height: 100px;
	background: #0093b7;
}

.content-top-right {
	float: left;
	width: 100px;
	height: 150px;
	background: #ff9e6b;
}

.content-bottom {
	height: 100px;
	background: #8c2727;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}