.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}
.wrapper {
    width: 400px;
    height: 450px;
}
.header {
    height: 100px;
    background-color: #141f40;
}
.main {
    width: 400px;
    height: 250px;
}
.main-left {
    float: left;
    width: 250px;
    height: 250px;
}
.main-left-header {
    height: 150px;
}
.main-left-header-left {
    float: left;
    width: 100px;
    height: 150px;
    background-color: #dbd403;
}
.main-left-header-right {
    float: left;
    width: 150px;
    height: 150px;
}
.main-left-header-right-top {
    width: 150px;
    height: 50px;
    background-color: #ff9e6b;
}
.main-left-header-right-bottom {
    width: 150px;
    height: 100px;
    background-color: #8c2727;
}
.main-left-footer {
    width: 250px;
    height: 100px;
    background-color: #0093b7;
}
.main-right {
    float: left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}
.footer {
    height: 100px;
    background-color: #d98d30;
}