.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.wrapper {    
    width: 400px;
    margin: 0 auto;
}

.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.flex-container {
	float: right;
	width: 160px;
	height: 60px;
	background-color: white;
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	margin-right: 20px;
}

.flex-item {
	width: 40px;
	height: 40px;
	background-color: #a9004b;
	margin-top: 10px;
}

.main-side {
	float: left;
	width: 150px;
	height: 250px;
	background-color: #80bfa8;	
}

.main-content {
	float: left;
	width: 250px;
	height: 250px;
	background-color: #8c2727;
}

.main-center {
	margin-left: 40px;
	margin-right: 60px;
	margin-top: 40px;
}

.main-center-orange {
	border: solid 5px white;
	width: 140px;
	height: 40px;
	background-color: #ff863f;
	margin: 5px;
}


.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}